.ffe-wave {
    min-height: 148px;
    mask-repeat: repeat-x;
    mask-size: 491px;
}

.ffe-wave--rotate {
    rotate: 180deg;
}

.ffe-wave--small {
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 491 148'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 530V0c60.7 0 91.6 13.8 121.4 27.1 30.4 13.6 59.1 26.4 118.1 26.4 59 0 87.7-12.8 118.1-26.4C387.4 13.8 418.2 0 478.9 0c60.7 0 91.6 13.8 121.4 27.1 30.4 13.6 59.1 26.4 118.1 26.4 59 0 87.7-12.8 118.1-26.4C866.3 13.8 897.1 0 957.8 0c60.7 0 91.6 13.8 121.4 27.1 30.4 13.6 59.1 26.4 118.1 26.4 59 0 87.7-12.8 118.1-26.4C1345.2 13.8 1376 0 1436.7 0c60.7 0 91.6 13.8 121.4 27.1 30.4 13.6 59.1 26.4 118.1 26.4 59 0 87.7-12.8 118.1-26.4C1824.1 13.8 1854.9 0 1915.7 0v530'/%3E%3C/svg%3E");
}

.ffe-wave--medium {
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 491 148'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 595V0c61.31 0 92.314 21.728 122.419 42.675 30.405 21.171 59.109 41.228 118.119 41.228 59.009 0 87.713-20.057 118.118-41.228C388.561 21.729 419.665 0 480.975 0s92.314 21.728 122.419 42.675c30.405 21.171 59.109 41.228 118.119 41.228 58.909 0 87.713-20.057 118.118-41.228C869.536 21.729 900.64 0 961.85 0c61.31 0 92.31 21.728 122.42 42.675 30.4 21.171 59.11 41.228 118.12 41.228 58.91 0 87.71-20.057 118.12-41.228C1350.51 21.729 1381.62 0 1442.92 0c61.31 0 92.32 21.728 122.42 42.675 30.41 21.171 59.11 41.228 118.12 41.228 59.01 0 87.72-20.057 118.12-41.228C1831.59 21.729 1862.69 0 1924 0v595'/%3E%3C/svg%3E");
}

.ffe-wave--large {
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 491 148' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 537V0c61.4 0 92.5 27.8 122.5 54.6 30.2 27 58.8 52.6 117.1 52.6 58.4 0 86.9-25.5 117.1-52.6C386.8 27.8 417.8 0 479.3 0c61.4 0 92.5 27.8 122.5 54.6 30.2 27 58.8 52.6 117.1 52.6 58.4 0 86.9-25.5 117.1-52.6C866.1 27.8 897.1 0 958.6 0c61.4 0 92.5 27.8 122.5 54.6 30.2 27 58.8 52.6 117.1 52.6 58.4 0 86.9-25.5 117.1-52.6 30-26.9 61.1-54.6 122.5-54.6s92.5 27.8 122.5 54.6c30.2 27 58.8 52.6 117.1 52.6 58.4 0 86.9-25.5 117.1-52.6C1824.5 27.7 1855.6 0 1917 0v537'/%3E%3C/svg%3E");
}
